.redPacketPage{
  width: 100%;
  height: 100%;
  background-color:#fff;
  header{
    width: 100%;
    height:.44rem;
    text-align: center;
    line-height: .44rem;
    background-color: #000;
    color: #FFF;
    font-size: 0.15rem;
  }
  section{
    width: 100%;
    padding-bottom: 0.48rem;
    img{
      display: block;
      width: 100%;
      height:3.525rem;
    }
    .record{
      width: 100%;
      margin-top: 0.2rem;
      font-size: 0.15rem;
      background-color: #FFF;
      .p1{
        width: 100%;
        height: 0.35rem;
        text-align: center;
        line-height: 0.35rem;
        & span:nth-child(1){
          width: 0.5rem;

        }
        & span:nth-child(3){
          width: 0.5rem;
        }

      }
      .p2{
        width: 100%;
        height: 0.45rem;
        text-align: center;
        line-height: 0.45rem;
        font-size: 0.2rem;
        color: #ECECEC;
        font-weight: bold;

      }
      .p3{
        width: 100%;
        height: 0.35rem;
        text-align: center;
        line-height:0.35rem;
        color: #6C6C6C;

      }
    }
  }


}
