$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

@font-face {
  font-family: yofont;
  src: url("/demo01/fonts/iconfont.woff") format("woff"), url("/demo01/fonts/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/demo01/fonts/iconfont1.woff") format("woff"), url("/demo01/fonts/iconfont1.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/demo01/fonts/iconfont2.woff") format("woff"), url("/demo01/fonts/iconfont2.ttf") format("truetype");
}


body {
	background-color: #fff !important;
}
